/* Background */
.root {
    -fx-background-color: rgb(50, 50, 50);
    -fx-text-fill: white;
}

/* Primary slider */
.primary-slider > .track {
    -fx-background-color: #656565;
    -fx-pref-height: 350%;
}

.primary-slider > .thumb {
    -fx-background-color: rgb(77, 102, 204);
}

.primary-slider > .colored-track {
    -fx-background-color: rgb(77, 102, 204);
}

.primary-slider > .animated-thumb {
    -fx-opacity: 0;
}

.primary-slider {
    -fx-show-tick-marks: false;
}

/* Secondary slider */
.secondary-slider > .track {
    -fx-background-color: #656565;
    -fx-pref-height: 350%;
}

.secondary-slider > .thumb {
    -fx-background-color: #37a45a;
}

.secondary-slider > .colored-track {
    -fx-background-color: #37a45a;
}

.secondary-slider > .animated-thumb {
    -fx-opacity: 0;
}

.secondary-slider {
    -fx-show-tick-marks: false;
}

/* Tertiary slider */
.tertiary-slider > .track {
    -fx-background-color: #656565;
    -fx-pref-height: 350%;
}

.tertiary-slider > .thumb {
    -fx-background-color: #ed4245;
}

.tertiary-slider > .colored-track {
    -fx-background-color: #ed4245;
}

.tertiary-slider > .animated-thumb {
    -fx-opacity: 0;
}

.tertiary-slider {
    -fx-show-tick-marks: false;
}

/* Button */
.button {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: FLAT;
    -fx-background-color: #656565;
    -fx-pref-width: 100;
    -fx-text-fill: white;
}

.button-selected {
    -fx-background-color: rgb(77, 102, 204);
}

.text-field {
    -fx-background-color: #656565;
    -fx-text-fill: white;
}

.label {
    -fx-font-size: 13;
    -fx-font-weight: 700;
    -fx-fill: white;
}

/* ComboBox */
.combo-box,
.choice-box {
    -fx-font-size: 14px;
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -fx-background-color: #656565;
    -fx-border-width: 0 0 0 0;
    -fx-padding: 3 3 3 3;
    -fx-min-width: 125;
}

.combo-box .list-cell:filled:selected,
.choice-box .list-cell:filled:selected {
    -fx-text-fill: white;
}
.combo-box-popup .list-view .list-cell {
    -fx-background-color: #656565;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: white;
    -fx-text-fill: #656565;
}

.combo-box .arrow,
.choice-box .arrow {
    -fx-background-color: white;
}

.combo-box-selected {
    -fx-background-color: rgb(77, 102, 204);
}

/* Switch */
.switch {
    -jfx-toggle-color: white;
    -jfx-toggle-line-color: rgb(77, 102, 204);
    -jfx-untoggle-line-color: #656565;
    -fx-padding: 0, 0, 0, 0;
}


