
/* Background */
.root {
    -fx-background-color: -fx-my-background-color;
    -fx-text-fill: white;
}

/* Primary slider */
.primary-slider > .track {
    -fx-background-color: #656565;
    -fx-pref-height: 350%;
}

.primary-slider > .thumb {
    -fx-background-color: rgb(77, 102, 204);
}

.primary-slider > .colored-track {
    -fx-background-color: rgb(77, 102, 204);
}

.primary-slider > .animated-thumb {
    -fx-opacity: 0;
}

.primary-slider {
    -fx-show-tick-marks: false;
}

/* Secondary slider */
.secondary-slider > .track {
    -fx-background-color: #656565;
    -fx-pref-height: 350%;
}

.secondary-slider > .thumb {
    -fx-background-color: #37a45a;
}

.secondary-slider > .colored-track {
    -fx-background-color: #37a45a;
}

.secondary-slider > .animated-thumb {
    -fx-opacity: 0;
}

.secondary-slider {
    -fx-show-tick-marks: false;
}

/* Tertiary slider */
.tertiary-slider > .track {
    -fx-background-color: #656565;
    -fx-pref-height: 350%;
}

.tertiary-slider > .thumb {
    -fx-background-color: #ed4245;
}

.tertiary-slider > .colored-track {
    -fx-background-color: #ed4245;
}

.tertiary-slider > .animated-thumb {
    -fx-opacity: 0;
}

.tertiary-slider {
    -fx-show-tick-marks: false;
}

/* Quaternary slider */
.quaternary-slider > .track {
    -fx-background-color: #656565;
    -fx-pref-height: 350%;
}

.quaternary-slider > .thumb {
    -fx-background-color: #edd642;
}

.quaternary-slider > .colored-track {
    -fx-background-color: #edd642;
}

.quaternary-slider > .animated-thumb {
    -fx-opacity: 0;
}

.quaternary-slider {
    -fx-show-tick-marks: false;
}

/* Text field */
.text-field {
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color: -fx-my-menu-color;
    -fx-text-fill: -fx-my-menu-font-color;
}

.label {
    -fx-text-fill: -fx-my-menu-font-color;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 15;
}

/* Variables */
* {
    -fx-my-background-color: #292a2d;            /* Change according to your needs */
    -fx-my-menu-color: #313338;                  /* Change according to your needs */
    -fx-my-menu-color-highlighted: #3A3C42;      /* Change according to your needs */
    -fx-my-menu-font-color: #b5bac1;             /* Change according to your needs */
    -fx-my-menu-font-color-highlighted: #DBDEDC; /* Change according to your needs */
    -fx-my-border-color: #26282c;                /* Change according to your needs */
}

/* Menu bar */
.menu-bar {
    -fx-background-color: -fx-my-menu-color;
    -fx-padding: 0.5em 0.5em 0.5em 1em;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 0.1em;
    -fx-border-color: -fx-my-border-color;
}

.menu-bar > .container > .menu-button {
    -fx-background-color: -fx-my-menu-color;
    -fx-mark-color: -fx-my-menu-font-color;
}

.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-my-menu-color-highlighted;
    -fx-background-radius: 3px;
}

.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

.menu-item {
    -fx-background-color: -fx-my-menu-color;
}

.menu-item .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

.menu-item .label:disabled {
    -fx-opacity: 1.0;
}

.menu-item:focused, .menu-item:hover {
    -fx-background-color: -fx-my-menu-color-highlighted;
    -fx-background-radius: 3px;
}

.menu-item:focused .label, .menu-item:hover .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* CONTEXT MENU */
.context-menu {
    -fx-background-color: -fx-my-menu-color;
    -fx-background-radius: 3px;
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
}

/* Switch */
.switch {
    -jfx-toggle-color: white;
    -jfx-toggle-line-color: rgb(77, 102, 204);
    -jfx-untoggle-line-color: #656565;
    -fx-padding: 0, 0, 0, 0;
}


