.root {
    -fx-background-color: rgb(50, 50, 50);
}

/* Styling the slider track */
.primary-slider > .track {
    -fx-background-color: #656565;
    -fx-pref-height: 350%;
}

/* Styling the slider thumb */
.primary-slider > .thumb {
    -fx-background-color: rgb(77, 102, 204);
}

/* Styling the filled track */
.primary-slider > .colored-track {
    -fx-background-color: rgb(77, 102, 204);
}

/* Styling the animated thumb */
.primary-slider > .animated-thumb {
    -fx-background-color: rgb(77, 102, 204);
}

/* Styling the slider value text inside animated thumb */
.primary-slider .slider-value {
    -fx-fill: white;
    -fx-stroke: white;
    -fx-stroke-width: 0.5;
}

.primary-slider {
    -fx-show-tick-marks: false;
}

/* Styling the slider track */
.secondary-slider > .track {
    -fx-background-color: #656565;
    -fx-pref-height: 350%;
}

/* Styling the slider thumb */
.secondary-slider > .thumb {
    -fx-background-color: #248c40;
}

/* Styling the filled track */
.secondary-slider > .colored-track {
    -fx-background-color: #248c40;
}

/* Styling the animated thumb */
.secondary-slider > .animated-thumb {
    -fx-background-color: #248c40;
}

/* Styling the slider value text inside animated thumb */
.secondary-slider .slider-value {
    -fx-fill: white;
    -fx-stroke: white;
    -fx-stroke-width: 0.5;
}

.secondary-slider {
    -fx-show-tick-marks: false;
}

.button {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: FLAT;
    -fx-background-color: #656565;
    -fx-pref-width: 100;
    -fx-text-fill: white;
}

.button-selected {
    -fx-background-color: rgb(77, 102, 204);
}
